<head>
  <title>Article Scraper</title>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=3">
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
</head>

<body>

</body>

<template name="default">
  <header>
    <nav>
      <a href="/scraper"><i class="fa fa-newspaper-o"></i> Scraper</a>
      <a href="/bloom"><i class="fa fa-tasks"></i> T-Bloom</a>
      <a href="/emotions"><i class="fa fa-heart-o"></i> Emotions</a>
    </nav>
  </header>
  <main>
    {{> yield}}
  </main>
</template>
